{% extends "base.html" %}{% load static %} {% block content %}


<div class="row sap-container rounded">
    <section class="col-3 sap-menu-container XfvCs">
        <ul class="sap-menu">
            <div class="row container">
                <h4 class="sap-h3 col-12 p-3 ml-4 w-100">Acciones</h4>
            </div>

            <li class="sap-list-item">
                <a class="hvr-icon-pop w-100 h-aRd ml-1 row bold sap-intext-link"
                    href="{% url 'event:event-index' %}">
                    Todos los eventos &nbsp; <svg class="hvr-icon bi bi-calendar3" width="1em" height="1em" viewBox="0 0 16 16"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                        <path fill-rule="evenodd"
                            d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg></a>
            </li>
            <li class="sap-list-item">
                <a class="hvr-icon-pop w-100 h-aRd ml-1 row bold sap-intext-link"
                    href="{% url 'event:event-create' %}">
                    Crear evento &nbsp; <svg class="hvr-icon bi bi-calendar3" width="1em" height="1em" viewBox="0 0 16 16"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                        <path fill-rule="evenodd"
                            d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg></a>
               
            </li>
            <li class="sap-list-item">
                <a class="hvr-icon-pop w-100 h-aRd ml-1 row bold sap-intext-link"
                    href="{% url 'event:event-index' %}">
                    Buscar evento &nbsp; <svg class="hvr-icon bi bi-calendar3" width="1em" height="1em" viewBox="0 0 16 16"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                        <path fill-rule="evenodd"
                            d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg></a>

            </li>
        </ul>

    </section>

    <div class="col-9">
        <div class="row container">
            <h4 class="sap-h3 col-12 p-3 w-100">Editar tu evento</h4>
        </div>
        <!--tag data-->
        <form method="post"> {% csrf_token %}
            <div class="form-group mt-2">
                <h5><small><strong>Nombre del evento:</small></h5></strong>
                {{form.name}}
                <h5><small><strong>Fecha del evento:</h5></strong>
                {{form.eventCreated}}
                <h5><small><strong>Sede del evento:</small></h5></strong>
                {{form.headquarters}}
                <h5><small><strong>Direccion del evento:</small></h5></strong>
                {{form.address}}
                <h5><small><strong>Tema:</small></h5></strong>
                {{form.topic}}
                <h5><small><strong>Evento:</small></h5></strong>
                {{form.event}}
            </div>
           
            <div class="form-group mt-2">
                <input type="submit" class="btn btn-success" value="Enviar">
            </div>
        </form>
    </div>
</div>
{% endblock %}