{% extends "base.html" %}{% load static %} {% block content %}

<div class="row sap-container shadow-lg rounded">
    <div class="w-100">
        <h3 class="sap-h3 p-3 w-100">Editar contraseña</h3>
    </div>
    {% include 'user/edit_profile_menu.html' %}

    <div class="col-md-9 col-sm-6 item-form">

        <div class="row container justify-content-center">
            <form method="post"> {% csrf_token %}

                <div class="form-group row">
                    <label class="col-6 col-form-label">Contraseña anterior</label>
                    <div class="col-6">{{form.old_password}}</div>
                    <small style="color:red;">{% if form.old_password.errors %}
                        {{form.old_password.errors}}
                        {% endif%} </small>
                </div>

                <div class="form-group row">
                    <label class="col-6 col-form-label">Contraseña nueva</label>
                    <div class="col-6">{{form.new_password1}}</div>
                    <small style="color:red;">{% if form.new_password1.errors %}
                        {{form.new_password1.errors}}
                        {% endif%} </small>
                </div>

                <div class="form-group row">
                    <label class="col-6 col-form-label">Repita la contraseña nueva</label>
                    <div class="col-6">{{form.new_password2}}</div>
                    <small style="color:red;">{% if form.new_password2.errors %}
                        {{form.new_password2.errors}}
                        {% endif%} </small>
                </div>


                <input class="btn btn-success" type="submit" value="Guardar">
            </form>
        </div>
    </div>
</div>
{% endblock %}