{% extends "base.html" %}{% load static %} {% block content %}

<div class="sap-container-fluid">

    <div class="row mt-3 align-items-center justify-content-center container-fluid" id="row-two">
        <div class="card col-4 shadow-lg rounded">
            <div class="card-body list-group list-group-flush">
                <div class="w-100">
                    <h3 class="p-3 w-100">Formulario de registro</h3>
                </div>
                <div class="list-group-item">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <small id="emailHelp" class="form-text text-muted">Correo institucional.</small>
                            {{form.email}}
                            <small style="color:red;">{% if form.email.errors %}
                                {{form.email.errors}}
                                {% endif%} </small>
                        </div>
                        <div class="form-group">
                            <small id="rolHelp" class="form-text text-muted">Rol en UABC.</small> {{form.rol}}
                        </div>
                        <div class="form-group">
                            <small id="password1Help" class="form-text text-muted">Porfavor ingrese una
                                contraseña.</small>
                            {{form.password1}}
                            <small style="color:red;">{% if form.password1.errors %}
                                {{form.password1.errors}}
                                {% endif%} </small>

                        </div>
                        <div class="form-group">
                            <small id="password2Help" class="form-text text-muted">Porfavor confirme su
                                contraseña.</small> {{form.password2}}
                            <small style="color:red;">{% if form.password2.errors %}
                                {{form.password2.errors}}
                                {% endif%} </small>
                        </div>
                        <div class="form-group">
                            <div class="row align-items-center justify-content-center">
                                <input type="submit" class="btn btn-success col-5" value="Enviar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<br>
<br>
<br> {% endblock %}