{% extends "base.html" %}{% load static %} {% block content %}

<div class="container-fluid pt-3">
    <div class="row">
        {% include 'menus/menu_dash.html'%}
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-7 m-0">
            <div class="sap-box-fluid bg-white p-0">
                <div class="p-1 row container-fluid justify-content-center">
                    <strong>Resumen de seguimiento</strong>
                </div>
                <div class="simple-separator"> </div>
                <div class="ml-2 mr-2 card-body ">
                    {% include 'user/table_content_resume.html' %}
                </div>

                <div class="simple-separator"> </div>

                <div class="p-1 row container-fluid justify-content-center">
                    <strong>Resumen de proyectos</strong>
                </div>
                <div class="simple-separator"> </div>
                <div class="ml-2 mr-2 card-body ">
                    {% include 'user/table_content_resume.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}