{% extends "base.html" %}{% load static %}{% block content %}


<div class="row sap-container shadow-lg rounded">
    <div class="w-100">
        <h3 class="sap-h3 p-3 w-100">Editar usuario</h3>
    </div>
    {% include 'edit_profile_menu.html' %}
    <div class="col-8 item-form">
        <div class="row container justify-content-center">
            <form method="post" class="container-fluid"> {% csrf_token %}
                <div class="form-group row">
                    <label class="col-4 col-form-label">Correo</label>
                    <div class="col-8">{{form.email}}</div>
                    {{form.account.as_hidden}}
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Rol en UABC</label>
                    <div class="col-8">{{form.rol}}</div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Contraseña</label>
                    <div class="col-8">{{form.password}}</div>
                </div>

                <div class="form-group row">
                    <small class="col-6 form-text text-muted">No puedes visualizar tu contraseña.</small>
                    <small class="col-6 form-text text-muted">Si necesitas actualizarla utiliza
                        <a class="sap-intext-link" href="{% url 'userSap:user-update-password' user.id %}">este
                            formulario.
                        </a></small>
                </div>

                <input class="btn btn-success" type="submit" value="Guardar">
            </form>
        </div>
    </div>
</div>
{% endblock %}