{% load static %}

<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Completar perfil{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="{% static 'css/jplist.styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/jplist.textbox-filter.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/beauty.css' %}">
        <link rel="stylesheet" href="{% static 'css/select2-bootstrap.css' %}"> {% include 'sap_navbar.html' %}

    </head>

    <body style="font-family: Arial, Helvetica, Serif, Tahoma">

        <div class="sap-box-fluid" id="page">
            <div class="insta container container-fluid ">
                <div class="row sap-container">
                    <div class="col-12 item-form">
                        <div class="row container">
                            <h3 class="col-12">Ingrese la siguiente información sobre usted</h3>
                        </div>
                        <div class="row mt-5 container container-fluid justify-content-center">
                            <form method="post" class=""> {% csrf_token %}
                                <div class="form-group row">
                                    <input type="hidden" class="form-control form-control-sm" value="{{user.id}}"
                                        readonly>
                                    <label class="col-md-6 col-sm-12 col-form-label">Programa educativo</label>
                                    <div class="col-md-6 col-sm-12">{{form.program}}</div>{% if form.isbn.program %}
                                    <small style="color:red;">{{form.program.errors}}</small> {% endif %}
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 col-sm-12 col-form-label">Cuerpo académico</label>
                                    <div class="col-md-6 col-sm-12">{{form.academy}}</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 col-sm-12 col-form-label">Número de empleado</label>
                                    <div class="col-md-6 col-sm-12">{{form.numEmp}}</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 col-sm-12 col-form-label">Nombre (s)</label>
                                    <div class="col-md-6 col-sm-12">{{form.firstName}}</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 col-sm-12 col-form-label">Apellido paterno</label>
                                    <div class="col-md-6 col-sm-12">{{form.lastNameA}}</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 col-sm-12 col-form-label">Apellido materno</label>
                                    <div class="col-md-6 col-sm-12">{{form.lastNameB}}</div>
                                </div>
                                <input class="btn btn-success" type="submit" value="Guardar">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.14/js/bootstrap-select.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
        <script src="{% static 'js/custom.js' %}"></script>

    </body>

    {% include 'footer_loader.html' %} {% include 'loadingScreen.html' %}

</html>