{% extends 'base.html' %}{% load static %}

{% block content %}

<div class="row sap-container shadow-lg rounded">
    <div class="w-100">
        <h3 class="sap-h3 p-3 w-100">Detalles del libro</h3>
    </div>
    <div class="card-body">

        <div class="row container">
            <h4 class="col-12"><strong>{{object.title}}</strong></h4>
        </div>
        <div class="row container">
            <h5 class="col-12"><small><strong>Título completo: </strong>{{object.title}}</small></h5>
        </div>

        <div class="row container ml-2">
            <div class="col-2 p-0 bg-danger">
                <img typeof="foaf:Image"
                    src="https://portals.iucn.org/library/sites/library/files/styles/publication/public/book_covers/BC-1981-001.jpg?itok=pE30M_DN"
                    width="100%" height="100%">
            </div>
            <div class="col-10">
                <h5><small><strong>Subido por: </strong>{{object.user.account}}</small></h5>
                <h5><small><strong>Autores: </strong>
                    {% for author in object.authors.all%}
                    <a class="sap-intext-link sap-card-link" href="#"> {{author}}</a>
                    {% if author != object.authors.last%} | {% endif %}
                    {% endfor %}</small></h5>
                <h5><small><strong>Editorial: </strong>{{object.editorial}}</small></h5>
                <h5><small><strong>ISBN: </strong>{{object.isbn}}</small></h5>
                <h5><small><strong>Año de publicación: </strong>{{object.publicationYear}}</small></h5>

                <h5><small><strong>Fecha de subida: </strong>{{object.created}}</small></h5>
                <h5><small><strong>Ultima actualización: </strong>{{object.created}}</small></h5>
                <div class="simple-separator"></div>
                <h5><small><strong>Descarga el archivo pdf: </strong>
                    <a class="sap-intext-link sap-card-link" href="{{ MEDIA_URL }}/archiving/{{object.file}}"
                        target=”_blank”>{{object.file.name|cut:"archiving/"}}</a>
                    </small></h5>
                <div class="simple-separator"></div>
            </div>
            <div class="row container">
                <div class="form-group">
                    <h5><small><strong>Etiquetas: </strong>
                        {% for tag in object.tags.all%}
                        {% if tag.tag == "lgac" %}
                        <span class="badge badge-light m-1 p-1" style="border: 1px solid #000" >{{tag}}</span>
                        {% endif %}

                        {% endfor %}</small></h5>
                </div>
            </div>
            <div class="form-group row container mt-0">
                {% if object.user == user %}
                <button type="button" class="btn btn-danger mr-1" data-toggle="modal" data-target="#deletemodal">
                    Eliminar
                </button>

                <a class="btn btn-warning ml-1" href="{% url 'book:book-update' object.id %}">Editar</a>
                {% endif %}
            </div>
        </div>
    </div>

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar {{object.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Esta publicacion compete tambien a: {% for author in object.authors.all%}
                    <a class="sap-intext-link sap-card-link" href="#"> {{author}}</a>
                    {% if author != object.authors.last%} | {% endif %}
                    {% endfor %}</p>
                <p> ¿Esta seguro que desea eliminar esta publicación? </p>
                <p><strong> Esta accion es irreversible</strong> </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-warning" href="{% url 'book:book-detail' object.id %}">Cancelar</a>
                <form method="post" action="{% url 'book:book-delete' object.id %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Confirmar">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}