{% extends 'base.html' %}{% load static %} {% block content %}

<div class="row sap-container shadow-lg rounded">
    <div class="container-fluid m-0 p-0 ">
        <!--title row -->
        <div class="row container-fluid m-0 p-0 ml-4 pt-2 ">
            <h3 class="">Detalles del libro {{object.title}}</h3>
        </div>
        <!--separator line row -->
        <div class="row container-fluid p-0 m-0 w-100">
            <div class="simple-separator col-12 "></div>
        </div>
        <!--content row -->
        <div class="row container-fluid m-0 ml-4 p-0 pt-2">
            <div class="col-md-2 col-sm-0 p-0">
                <img typeof="foaf:Image" src="/media/{{object.image}}" width="100%" height=300px " style=" border: solid
                    1px black; ">
            </div>
            <div class="col-md-10 col-sm-11 mr-0 pr-0 ">
               <p> Subido por {{object.user.account}}</p>
                <p>Autores: 
                        {% for author in object.authors.all%}
                        <a class=" sap-intext-link sap-card-link " href=" # "> {{author}}</a>
                        {% if author != object.authors.last%} | {% endif %}
                        {% endfor %}
                </p>
                <p>Editorial {{object.editorial}}</p>
                <p>ISBN {{object.isbn}}</p>
                <p>Publicacado en {{object.eventPublication}}</p>
                <p>Año de publicación {{object.publicationYear}}</p>
                <div class=" simple-separator"></div>
            <p>Fecha de subida: {{object.timeStamp}}</p>
            <p>Ultima actualización: {{object.timeStamp}}</p>
            <p><a class="sap-intext-link sap-card-link" href="/media/{{object.file}}" target=”_blank”>
                    Archivo</a> </p>
            <div class="simple-separator w-100 m-0 p-0 "></div>
            <div class="form-group ">
                <p>Lineas de Generacion y Aplicacion del Conocimiento:
                    {% for tag in object.tags.all%}
                    {% if tag.tag == "lgac" %}
                    <span class=" badge badge-light m-1 p-1" style="border: 1px solid #000 ">{{tag}}</span>
                    {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="form-group row container mt-0">
            {% if object.user == user %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                Eliminar publicación
            </button>
            <a class="btn btn-warning ml-1 " href="{% url 'book:book-update' object.id %}">Editar</a> {% endif %}
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar {{object}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form method="POST" action="{% url 'book:book-delete' object.id %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Confirmar"></input>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}