{% extends 'base.html' %}{% load static %}{% load crispy_forms_tags %}

{% block content %}

<div class="row sap-container shadow-lg rounded">
    <div class="w-100">
        <h3 class="sap-h3 p-3 w-100">Registro de libro</h3>
    </div>
    <div class="card-body ">


        <form method='POST' enctype="multipart/form-data" novalidate> {% csrf_token %}
            <div class="row">

                <!--auto select the current user to foreignkey in model-->
                <input id="user-id" type="hidden" value="{{user.account.id}}">
                {{form.user}}

                <!--left colum-->
                <div class="col-4">

                    <div class="form-group form-group-sm">
                        <label class="sap-form-label" for="form.title">Titulo&nbsp;<svg data-toggle="tooltip"
                                data-placement="top" data-html="true" title="Titulo o nombre de la obra
                                <strong>Maximo 220 caracteres</strong>" class="bi bi-question-circle" width="1em"
                                height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                            </svg></label>
                        {{form.title}}
                    </div>

                    <div class="form-group form-group-sm">
                        <label class="sap-form-label" for="form.title">Editorial&nbsp;<svg data-toggle="tooltip"
                                data-placement="top" data-html="true" title="De ser publicado por una casa editorial. En caso de multiples editoriales en diferentes paises agregar separadas por coma.
                                <strong>Maximo 220 caracteres</strong>" class="bi bi-question-circle" width="1em"
                                height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                            </svg></label>
                        {{form.editorial}}
                    </div>

                    <div class="row">
                        <div class="form-group form-group-sm col-6">
                            <label class="sap-form-label" for="form.indexed">ISBN&nbsp; <svg data-toggle="tooltip"
                                    data-placement="top" data-html="true"
                                    title="El ISBN se compone actualmente de trece dígitos agrupados en cinco elementos separados por guiones de la siguiente manera: <u>978-607-0000-00-0</u>"
                                    class="bi bi-question-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                                </svg></label>
                            {{form.isbn}}
                        </div>
                        <div class="form-group form-group-sm col-6">
                            <label class="sap-form-label" for="form.indexInfo">Año de publicación&nbsp; </label>
                            {{form.publicationYear}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sap-form-label" for="form.file" class="form-control-file">Elegir archivo&nbsp;
                            <svg data-toggle="tooltip" data-placement="top" data-html="true" title="Archivo comprendido como el producto academico.
                            <strong>Requerido formato PDF</strong>" class="bi bi-question-circle" width="1em"
                                height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                            </svg></label>
                        {{form.file}}
                    </div>
                </div>

                <!--center column-->
                <div class="col-4 simple-separator-left">
                    <div class="form-group form-group-sm w-100">
                        <label class="sap-form-label" for="form.project">Proyecto&nbsp; <svg data-toggle="tooltip"
                                data-placement="top" data-html="true"
                                title="Proyecto correspondiente a la publicación
                            de este libro <strong>Solo se muestran los proyectos en los que esta registrado como participante</strong>"
                                class="bi bi-question-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                            </svg></label>

                        {{form.project}}
                    </div>
                    <div class="form-group form-group-sm w-100">
                        <label class="sap-form-label" for="form.authors">Autor(es)&nbsp;<svg data-toggle="tooltip"
                                data-placement="top" data-html="true"
                                title="Autores correspondientes a quienes hayan
                            participado en la realizacion de este producto <strong>Los permisos de edicion y eliminacion permaneceran en el usuario que registre el producto. Actualmente no son transferibles.</strong>"
                                class="bi bi-question-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                            </svg></label>
                        <small id="proyectHelp" class="form-text text-muted"></small>
                        {{form.authors}}
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="sap-form-label">¿Necesita dar crédito a un autor que no existe
                            en este sistema? Ingrese sus datos haciendo
                            <a class="sap-intext-link" href="#">clic aquí</a></label>
                    </div>
                </div>

                <div class="col-4 simple-separator-left ">
                    <div class="form-group form-group-sm">
                        <label class="sap-form-label">Lineas de apliacion y generacion
                            del conocimiento&nbsp;<svg data-toggle="tooltip" data-placement="top" data-html="true"
                                title="Seleccione las que considere necesarias. ¿No encontro lo que buscaba? <strong>Recuerde que puede registrar nuevas LGAC desde el acceso directo en su perfil y agregarlas cuando lo desee <em>editando el registro del libro</em></strong>"
                                class="bi bi-question-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                            </svg></label>
                        {{form.tags}}
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="sap-form-label">Programa educativo al que tributa&nbsp;<svg data-toggle="tooltip"
                                data-placement="top" data-html="true"
                                title="Seleccione el programa educativo al que tributa la publicacion de este producto academico"
                                class="bi bi-question-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                            </svg></label>
                        {{form.programTribute}}
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="sap-form-label">Cuerpo academico al que tributa&nbsp;<svg data-toggle="tooltip"
                                data-placement="top" data-html="true"
                                title="Seleccione el cuerpo academico al que tributa la publicacion de este producto academico. <strong>En caso de no tributar a ninguno seleccione <em>Ninguno</em>.</strong>"
                                class="bi bi-question-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                            </svg></label>
                        {{form.academyTribute}}
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="sap-form-label">Evento en el que fue publicado&nbsp;<svg data-toggle="tooltip"
                                data-placement="top" data-html="true"
                                title="Selecione el evento que corresponda en el caso que esta sea la fuente de la publicacion. <strong>En caso de ser ninguno seleccione <em>Ninguno</em>.</strong> ¿No encontro lo que buscaba? <strong>Recuerde que puede registrar eventos desde el acceso directo en su perfil y agregarlo cuando lo desee <em>editando el registro del libro</em></strong> "
                                class="bi bi-question-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                            </svg></label>
                        {{form.eventPublication}}
                    </div>
                </div>
            </div>

            <div class="mt-3 simple-separator"></div>

            <!--bottom row-->
            <div class="row mt-3 container container-fluid">
                <div class="col-12 col-md-3">
                    <!--sumbit form-->
                    <button type="submit" class="btn btn-success">Publicar</button>
                    <button type="reset" class="btn btn-warning" onclic="reload()">Limpiar campos</button>
                </div>

                <!--redirect switch-->
                <div class="col-3 custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" name="want_redirect" id="want_redirect">
                    <label class="custom-control-label" for="want_redirect">Redireccionar al enviar</label>
                </div>
                <div class="col-12 col-md-6"> <a href="#" class="btn btn-link">¿No se trata de un
                        documento publicado? Solicite
                        una revisión aquí</a>
                </div>
            </div>

            <!--errors-->
            <div class="form-group mt-2">
                {% if form.errors %}
                {{form.errors}}
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}