<div class="row container-fluid">

    <div class=" col-md-12 col-sm-12 mr-0 pr-0 ">

        {%if object.referenceMagazine %}
        <p>Referencia: {{object.referenceMagazine}}</p>
        {% endif %}
        <p>Editorial: {{object.editorial}}</p>
        <p>Pais: {{object.country}}</p>
        <p>Cuartil de la revista: {{object.quartMagazine}}</p>
        <p>ISSN: {{object.issn}}</p>


        <div class=" simple-separator"></div>


        <div class="simple-separator w-100 m-0 p-0 "></div>

    </div>