{% extends "base.html" %}{% load static %} {% block content %}

<div class="container-fluid pt-3">
    <div class="row">
        {% include 'menus/menu_dash.html'%}
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-7 m-0">
            <div class="sap-box-fluid bg-white p-0">
                <div class="p-1 row container-fluid justify-content-center">
                    <a class="sap-intext-link" href="{% url 'userSap:user-index' %}">Resumen</a>
                    &nbsp;>&nbsp;
                    <a class="sap-intext-link" href="{% url 'author:author-index' %}">Autores</a>
                    &nbsp;>&nbsp;
                    Registrar Autor
                </div>
                <div class="simple-separator"> </div>
                {% include 'author/form_author.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}