{% extends "base.html" %}{% load static %} {% block content %}

<div class="row sap-container shadow-lg rounded">
    <div class="w-100">
        <h3 class="sap-h3 p-3 w-100">Editar información personal</h3>
    </div>
    {% include 'edit_profile_menu.html' %}
    <div class="col-8 item-form">
        <div class="row container justify-content-center">
            <form method="post" class="container-fluid"> {% csrf_token %}
                <div class="form-group row">
                    <label class="col-4 col-form-label">Programa educativo</label>
                    <div class="col-7">{{form.program}}</div>
                    <div class="col-1"><a class="sap-form-link" href="{% url 'account:program-create' %}">Agregar</a>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Cuerpo académico</label>
                    <div class="col-7">{{form.academy}}</div>
                    <div class="col-1"><a class="sap-form-link" href="{% url 'account:academy-create' %}">Agregar</a>
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Número de empleado</label>
                    <div class="col-2">{{form.numEmp}}</div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Nombre (s)</label>
                    <div class="col-8">{{form.firstName}}</div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Apellido paterno</label>
                    <div class="col-8">{{form.lastNameA}}</div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Apellido materno</label>
                    <div class="col-8">{{form.lastNameB}}</div>
                </div>

                <input class="btn btn-success" type="submit" value="Guardar">
            </form>
        </div>
    </div>
</div>
{% endblock %}