{% extends "base.html" %}{% load static %} {% block content %}


<div class="row sap-container rounded">
    <section class="col-3 sap-menu-container XfvCs">
        <ul class="sap-menu">
            <div class="row container">
                <h4 class="sap-h3 col-12 p-3 ml-4 w-100">Acciones</h4>
            </div>

            <li class="sap-list-item">
                <a class="hvr-icon-pop w-100 h-aRd ml-1 row bold sap-intext-link"
                    href="{% url 'event:congress-index' %}">
                    Todos los congresos &nbsp; <svg class="hvr-icon bi bi-calendar3" width="1em" height="1em" viewBox="0 0 16 16"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                        <path fill-rule="evenodd"
                            d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg></a>
            </li>
            <li class="sap-list-item">
                <a class="hvr-icon-pop w-100 h-aRd ml-1 row bold sap-intext-link"
                    href="{% url 'event:congress-create' %}">
                    Crear congreso &nbsp; <svg class="hvr-icon bi bi-calendar2-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 8a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h1.5V8.5A.5.5 0 0 1 8 8z"/>
                        <path fill-rule="evenodd" d="M7.5 10.5A.5.5 0 0 1 8 10h2a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0v-2z"/>
                        <path fill-rule="evenodd" d="M14 2H2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                      </svg></a>
            </li>
            <li class="sap-list-item">
                <a class="hvr-icon-pop w-100 h-aRd ml-1 row bold sap-intext-link"
                    href="{% url 'event:congress-create' %}">
                    Buscar congreso &nbsp; <svg class="bi bi-search hvr-icon" width="1em" height="1em"
                        viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd"
                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg></a>
            </li>
        </ul>

    </section>

    <div class="col-9">
        <div class="row container">
            <h4 class="sap-h3 col-12 p-3 w-100">Crea tu congreso</h4>
        </div>
        <!--tag data-->
        <form method="post"> {% csrf_token %}
            <div class="form-group mt-2">
                <h5><small><strong>Nombre del congreso:</small></h5></strong>
                {{form.name}}
                <input type="hidden" value="lgac" name="tag">
                <h5><small><strong>Fecha del congreso:</h5></strong>
                {{form.eventCreated}}
                <input type="hidden" value="lgac" name="tag">
                <h5><small><strong>Sede del congreso:</small></h5></strong>
                {{form.headquarters}}
                <input type="hidden" value="lgac" name="tag">
                <h5><small><strong>Direccion del congreso:</small></h5></strong>
                {{form.address}}
                <input type="hidden" value="lgac" name="tag">
                <h5><small><strong>Tema:</small></h5></strong>
                {{form.topic}}
                <input type="hidden" value="lgac" name="tag">
            </div>
            <div class="form-group mt-2">
                Antes de crear un congreso, asegurese de que:
                <ul>
                    <li>Aun no se que poner aqui. Gracias</li>
                    
                </ul>
            </div>
            <div class="form-group mt-2">
                <input type="submit" class="btn btn-success" value="Enviar">
            </div>
        </form>
    </div>
</div>
{% endblock %}