<form method="post"> {% csrf_token %}
    <div class="form-group mt-2">
        <h5><small><strong>Nombre de la etiqueta:</small></h5></strong>
        {{form.name}}
        {% if form.name.errors %}
        <small style="color:red">{{form.name.errors}}</small>
        {% endif %}
        <input type="hidden" value="lgac" name="tag">
    </div>
    <div class="form-group mt-2">
        Antes de crear una etiqueta asegurese de:
        <ul>
            <li>Revisar entre las etiquetas existentes si alguna encaja con lo que necesita</li>
            <li>Revisar la ortografia</li>
            <li>Que la etiqueta sea una linea de generacion y aplicacion del conocimiento</li>
        </ul>
    </div>
    <div class="form-group mt-2">
        <input type="submit" class="btn btn-success" value="Enviar">
    </div>
</form>