
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>QUIÉNES SOMOS</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Misión y Visión</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>PDI 2019-2023</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Modelo educativo</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Directorio telefónico</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Normatividad</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Programas de licenciatura</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Programas de posgrado</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Programa ambiental</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>GOBIERNO Y ESTRUCTURA</h5>
                <ul class="list-unstyled quick-links"> 
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Consejo Universitario</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Junta de Gobierno</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Patronato Universitario</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Rectoría</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Tribunal Universitario</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Centros, Escuelas, Facultades e Institutos</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Dependencias administrativas</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Organigrama</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>COMUNIDAD</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Alumnos</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Académicos</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Aspirantes a ingresar</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Calendario escolar</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Biblioteca</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Bolsa de trabajo</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Aviso de Privacidad</a></li>
                 </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>SITIOS DE INTERÉS</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Síntesis informativa</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Licitaciones</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Sorteos Universitarios</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Fundación UABC</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>UABC Radio</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contraloria Social</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Correo UABC</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            </hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="http://www.uabc.mx/"> Universidad Autónoma de Baja California </a></u>
                   <br> Avenida Álvaro Obregón sin número, Colonia Nueva <br>
                    Mexicali, Baja California, México. C.P. 21100 <br>
                    Tel: +52 686 551 82 00 <br></p>
               </div>
            </hr>
        </div>
    </div>
</section>
<!-- ./Footer -->