{% extends 'base.html' %}{% load static %}


{% block content %}
<!--


<div class="container" style="background-color: #DD971A">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                        {% if object.user == user %}
                        <div class="card-header">Cuidado</div>
                        <div class="card-body">
                            <h5 class="card-title">Esta apunto de eliminar: {{object.title}}</h5>
                            {% if object.authors%}
                            <p class="card-text">Este libro compete tambien a:
                                {% for author in object.authors.all%}
                                {{author}}{% if author != object.authors.last%},{% endif %}
                                {% endfor %}
                            </p>
                            {% endif %}
                            <form method="post">{% csrf_token %}
                                <p class="card-text">¿Está seguro que desea eliminar?</p> <input type="submit"
                                    value="Confirm">
                            </form>
                        </div>
                        {% else%}
                        <div class="card-header">Restringido</div>
                        <div class="card-body">
                            <h5 class="card-title">Usted no tiene permiso para eliminar {{object.title}}</h5>
                            <p class="card-text">Si considera que este contenido no deberia estar aquí <a
                                    href="#">Reportelo</a></p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}