<form method="post" novalidate> {% csrf_token %}
    <div class=" container-fluid">
        <h5><small><strong>Nombre del evento:</small></h5>
        </strong>
        {{form.name}}
        {% if form.name.errors %}
        <small style="color:red;">{{form.name.errors}}</small> {% endif %}

        <h5><small><strong>Fecha del evento:</h5></small></strong>
        {{form.eventStart}}
        {% if form.eventStart.errors %}
        <small style="color:red;">{{form.eventStart.errors}}</small> {% endif %}

        <h5><small><strong>Fin del evento:</h5></small></strong>
        {{form.eventFinish}}
        {% if form.eventFinish.errors %}
        <small style="color:red;">{{form.eventFinish.errors}}</small> {% endif %}

        <h5><small><strong>Sede del evento:</small></h5> </strong>
        {{form.headquarters}}
        {% if form.headquarters.errors %}
        <small style="color:red;">{{form.headquarters.errors}}</small> {% endif %}

        <h5><small><strong>Direccion del evento:</small></h5> </strong>
        {{form.address}}
        {% if form.address.errors %}
        <small style="color:red;">{{form.address.errors}}</small> {% endif %}

        <h5><small><strong>Tema:</small></h5> </strong>
        {{form.topic}}
        {% if form.topic.errors %}
        <small style="color:red;">{{form.topic.errors}}</small> {% endif %}

        <h5><small><strong>Evento:</small></h5>
        </strong>
        {{form.event}}
        {% if form.event.errors %}
        <small style="color:red;">{{form.event.errors}}</small> {% endif %}

        <div class="form-group mt-2">
            <input type="submit" class="btn btn-success" value="Enviar">
        </div>
    </div>
</form>